In [1]:
import pandas as pd 
import numpy as np

In [2]:
!pip install pymongo

Requirement already satisfied: pymongo in c:\users\tuanb\anaconda3\lib\site-packages (4.6.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\tuanb\anaconda3\lib\site-packages (from pymongo) (2.4.2)

In [3]:
from pymongo import MongoClient

# Connect to MongoDB
client = MongoClient("mongodb+srv://baosurgeous:testDatabase@testcluster.dfxfjru.mongodb.net/?")
db = client["moviesDB"]
movies_collection = db["movies"]
ratings_collection = db["ratings"]
users_collection = db["users"]
similar_movies_collection = db["similar_movies"]
def convert_collection_to_pandas_dataframe(collection):
    # Retrieve data from MongoDB
    data_from_mongo = collection.find({}, {"_id": 0})

    # Convert data to a list of dictionaries
    data_list = list(data_from_mongo)

    # Convert to DataFrame
    df = pd.DataFrame(data_list)
    
    return df
    
movies_df = convert_collection_to_pandas_dataframe(movies_collection)
ratings_df = convert_collection_to_pandas_dataframe(ratings_collection)
users_df = convert_collection_to_pandas_dataframe(users_collection)

In [4]:
movies_df.head(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,popularity,vote_average,vote_count,backdrop_path
0,False,None,5000000,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",,1024,tt0110005,en,Heavenly Creatures,Wealthy and precocious teenager Juliet transfe...,...,109,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Not all angels are innocent.,Heavenly Creatures,False,9.438042,6.9,299,/r6YVNhTEbPrurey0u4Ldk0WG3VA.jpg
1,False,None,29000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",,63,tt0114746,en,Twelve Monkeys,"In the year 2035, convict James Cole reluctant...",...,129,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The future is history.,Twelve Monkeys,False,12.297305,7.4,2470,/1IWaKG7AWiYMhADxhGtnElDJAGI.jpg
2,False,None,900000,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",,880,tt0112379,nl,Antonia,"After World War II, Antonia and her daughter, ...",...,102,"[{'english_name': 'Dutch', 'iso_639_1': 'nl', ...",Released,A motion picture that celebrates everything yo...,Antonia's Line,False,2.030174,7.2,26,/sOkUBkwq21ZEThCX7wboY2Xl3m5.jpg
3,False,The Net Collection,22000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",,1642,tt0113957,en,The Net,Angela Bennett is a freelance software enginee...,...,114,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"No driver's license, no credit cards, no passp...",The Net,False,13.304342,5.6,359,/hPlL6FjbbZGZNfNaBePhOXSB9WY.jpg
4,False,None,34000000,"[{'id': 80, 'name': 'Crime'}, {'id': 53, 'name...",,241,tt0110632,en,Natural Born Killers,Two victims of traumatized childhoods become l...,...,118,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The media made them superstars.,Natural Born Killers,False,11.226856,6.9,927,/kn3zGuH4fhd1hG0CPFhFkWAP0tk.jpg

In [5]:
movies_df['overview'].head(5)

0    Wealthy and precocious teenager Juliet transfe...
1    In the year 2035, convict James Cole reluctant...
2    After World War II, Antonia and her daughter, ...
3    Angela Bennett is a freelance software enginee...
4    Two victims of traumatized childhoods become l...
Name: overview, dtype: object

## Plot-based recommender

In [6]:
#Import TfIdfVectorizer from scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english')

#Replace NaN with an empty string
movies_df['overview'] = movies_df['overview'].fillna('')

#Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(movies_df['overview'])

#Output the shape of tfidf_matrix
tfidf_matrix.shape

(2822, 16150)

In [7]:
movies_df['overview']

0       Wealthy and precocious teenager Juliet transfe...
1       In the year 2035, convict James Cole reluctant...
2       After World War II, Antonia and her daughter, ...
3       Angela Bennett is a freelance software enginee...
4       Two victims of traumatized childhoods become l...
                              ...
2817    During a murder hunt game at a country house, ...
2818    Bored and restless, Alice spends much of her t...
2819    Siri and Sriram fall in love with each other a...
2820    Joe North is a London taxi driver who manages ...
2821    It is the year 2022. A mysterious systems fail...
Name: overview, Length: 2822, dtype: object

In [8]:
# Import linear_kernel
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [9]:
indices = pd.Series(movies_df.index, index=movies_df['title']).drop_duplicates()

In [10]:
def get_original_movie_id(title):
    return movies_df.loc[movies_df['title'] == title, 'id'].values[0]

In [38]:
# Function that takes in movie title as input and outputs most similar movies
def get_top_five_recommendations(title, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))
    
    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[:10]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
#     return movies_df['title'].iloc[movie_indices]
    ids = []
    for title in movies_df['title'].iloc[movie_indices]:
        ids.append(get_original_movie_id(title))
    return ids

In [12]:
get_top_five_recommendations('Harry Potter and the Philosopher\'s Stone')

[673, 674, 5742, 32031, 767]

In [13]:
get_top_five_recommendations('The Godfather')

[240, 242, 120637, 3701, 321]

In [14]:
get_top_five_recommendations('Mission: Impossible')

[956, 955, 5820, 6105, 4375]