In [1]:
!pip install tensorflow-recommenders
!pip install pandas
!pip install pymongo

Requirement already satisfied: tensorflow-recommenders in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (0.7.3)
Requirement already satisfied: absl-py>=0.1.6 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-recommenders) (1.3.0)
Requirement already satisfied: tensorflow>=2.9.0 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-recommenders) (2.11.0)
Requirement already satisfied: tensorflow-intel==2.11.0 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow>=2.9.0->tensorflow-recommenders) (2.11.0)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.9.0->tensorflow-recommenders) (3.19.6)
Requirement already satisfied: setuptools in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.9.0->tensorflow-recommenders) (65.6.3)
Requirement already satisfied: tensorboard<2.12,>=2.11 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.9.0->tensorflow-recommenders) (2.11.2)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.9.0->tensorflow-recommenders) (2.1.0)
Requirement already satisfied: keras<2.12,>=2.11.0 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.9.0->tensorflow-recommenders) (2.11.0)
Requirement already satisfied: flatbuffers>=2.0 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.9.0->tensorflow-recommenders) (2.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.9.0->tensorflow-recommenders) (1.42.0)
Requirement already satisfied: tensorflow-estimator<2.12,>=2.11.0 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.9.0->tensorflow-recommenders) (2.11.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.9.0->tensorflow-recommenders) (0.2.0)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.9.0->tensorflow-recommenders) (1.14.1)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.9.0->tensorflow-recommenders) (1.6.3)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.9.0->tensorflow-recommenders) (3.3.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.9.0->tensorflow-recommenders) (0.31.0)
Requirement already satisfied: h5py>=2.9.0 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.9.0->tensorflow-recommenders) (3.7.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.9.0->tensorflow-recommenders) (4.4.0)
Requirement already satisfied: packaging in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.9.0->tensorflow-recommenders) (22.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.9.0->tensorflow-recommenders) (15.0.6.1)
Requirement already satisfied: six>=1.12.0 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.9.0->tensorflow-recommenders) (1.16.0)
Requirement already satisfied: numpy>=1.20 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.9.0->tensorflow-recommenders) (1.23.5)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.9.0->tensorflow-recommenders) (0.4.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.11.0->tensorflow>=2.9.0->tensorflow-recommenders) (0.38.4)
Requirement already satisfied: markdown>=2.6.8 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow>=2.9.0->tensorflow-recommenders) (3.4.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow>=2.9.0->tensorflow-recommenders) (2.6.0)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow>=2.9.0->tensorflow-recommenders) (2.28.1)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow>=2.9.0->tensorflow-recommenders) (2.2.2)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow>=2.9.0->tensorflow-recommenders) (0.4.4)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow>=2.9.0->tensorflow-recommenders) (1.8.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow>=2.9.0->tensorflow-recommenders) (0.6.1)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow>=2.9.0->tensorflow-recommenders) (4.7.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow>=2.9.0->tensorflow-recommenders) (0.2.8)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow>=2.9.0->tensorflow-recommenders) (4.2.2)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow>=2.9.0->tensorflow-recommenders) (1.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow>=2.9.0->tensorflow-recommenders) (2022.12.7)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow>=2.9.0->tensorflow-recommenders) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow>=2.9.0->tensorflow-recommenders) (1.26.14)
Requirement already satisfied: idna<4,>=2.5 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow>=2.9.0->tensorflow-recommenders) (3.4)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from werkzeug>=1.0.1->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow>=2.9.0->tensorflow-recommenders) (2.1.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow>=2.9.0->tensorflow-recommenders) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow>=2.9.0->tensorflow-recommenders) (3.2.1)

Requirement already satisfied: pandas in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (2.1.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: tzdata>=2022.1 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: pymongo in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (4.6.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\tuanb\anaconda3\envs\py3-tf2.0\lib\site-packages (from pymongo) (2.4.2)

In [2]:
from typing import Dict, Text

import numpy as np
import tensorflow as tf

import tensorflow_datasets as tfds
import tensorflow_recommenders as tfrs

In [3]:
import pandas as pd
# movies_df = pd.read_json('moviesDB.movies.json')

## Load data from database (user & rating)

In [4]:
from pymongo import MongoClient

# Connect to MongoDB
client = MongoClient("mongodb+srv://baosurgeous:testDatabase@testcluster.dfxfjru.mongodb.net/?")
db = client["moviesDB"]
movies_collection = db["movies"]
ratings_collection = db["ratings"]
users_collection = db["users"]
def convert_collection_to_pandas_dataframe(collection):
    # Retrieve data from MongoDB
    data_from_mongo = collection.find({}, {"_id": 0})

    # Convert data to a list of dictionaries
    data_list = list(data_from_mongo)

    # Convert to DataFrame
    df = pd.DataFrame(data_list)
    
    return df
    
movies_df = convert_collection_to_pandas_dataframe(movies_collection)
ratings_df = convert_collection_to_pandas_dataframe(ratings_collection)
users_df = convert_collection_to_pandas_dataframe(users_collection)

In [5]:
movies_df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,popularity,vote_average,vote_count,backdrop_path
0,False,None,5000000,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",,1024,tt0110005,en,Heavenly Creatures,Wealthy and precocious teenager Juliet transfe...,...,109,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Not all angels are innocent.,Heavenly Creatures,False,9.438042,6.9,299,/r6YVNhTEbPrurey0u4Ldk0WG3VA.jpg
1,False,None,29000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",,63,tt0114746,en,Twelve Monkeys,"In the year 2035, convict James Cole reluctant...",...,129,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The future is history.,Twelve Monkeys,False,12.297305,7.4,2470,/1IWaKG7AWiYMhADxhGtnElDJAGI.jpg
2,False,None,900000,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",,880,tt0112379,nl,Antonia,"After World War II, Antonia and her daughter, ...",...,102,"[{'english_name': 'Dutch', 'iso_639_1': 'nl', ...",Released,A motion picture that celebrates everything yo...,Antonia's Line,False,2.030174,7.2,26,/sOkUBkwq21ZEThCX7wboY2Xl3m5.jpg
3,False,The Net Collection,22000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",,1642,tt0113957,en,The Net,Angela Bennett is a freelance software enginee...,...,114,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"No driver's license, no credit cards, no passp...",The Net,False,13.304342,5.6,359,/hPlL6FjbbZGZNfNaBePhOXSB9WY.jpg
4,False,None,34000000,"[{'id': 80, 'name': 'Crime'}, {'id': 53, 'name...",,241,tt0110632,en,Natural Born Killers,Two victims of traumatized childhoods become l...,...,118,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The media made them superstars.,Natural Born Killers,False,11.226856,6.9,927,/kn3zGuH4fhd1hG0CPFhFkWAP0tk.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2817,False,Hercule Poirot (Peter Ustinov) Collection,0,"[{'id': 80, 'name': 'Crime'}, {'id': 53, 'name...",,6105,tt0090914,en,Dead Man's Folly,"During a murder hunt game at a country house, ...",...,90,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,,Dead Man's Folly,False,0.784587,5.8,5,/yPbNoWGP4Ol2P2tHMEiQxKu6cJA.jpg
2818,False,None,0,"[{'id': 18, 'name': 'Drama'}]",,1631,tt0135024,fr,Une vraie jeune fille,"Bored and restless, Alice spends much of her t...",...,89,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,A surreal voyage into adolescent sexuality.,A Real Young Girl,False,16.295091,5.4,38,/cHxkI87yoZiHMIGvxCFbuP1Cr6M.jpg
2819,False,None,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",,74154,tt0455663,te,నువ్వొస్తానంటే నేనొద్దంటానా,Siri and Sriram fall in love with each other a...,...,165,"[{'english_name': 'Telugu', 'iso_639_1': 'te',...",Released,,Nuvvostanante Nenoddantana,False,0.286812,5.6,6,/povD3baqXxCb58cR8YtQpFXXAXA.jpg
2820,False,Adventures of a ...,0,"[{'id': 35, 'name': 'Comedy'}]",,86190,tt0074094,en,Adventures of a Taxi Driver,Joe North is a London taxi driver who manages ...,...,89,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,He gets more than his fare share...!,Adventures of a Taxi Driver,False,0.418006,6.8,4,/cGyL8NpblbCBrZ0AqwY7mClbVLK.jpg
2821,False,None,1200000,"[{'id': 27, 'name': 'Horror'}, {'id': 28, 'nam...",,2154,tt0099364,en,The Dark Side of the Moon,It is the year 2022. A mysterious systems fail...,...,96,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Beyond Rescue ... Beyond Reason ... Beyond Sal...,The Dark Side of the Moon,False,1.576967,4.7,11,/tPVphtpJtuHTC7vLsc71R0DmTLr.jpg

In [6]:
movies_df = movies_df[['id', 'title', 'overview']]

In [7]:
movies_df.rename(columns={'id' : 'movie_id'}, inplace=True)

C:\Users\tuanb\AppData\Local\Temp\ipykernel_14836\2333689717.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df.rename(columns={'id' : 'movie_id'}, inplace=True)

In [8]:
movies_df

,movie_id,title,overview
0,1024,Heavenly Creatures,Wealthy and precocious teenager Juliet transfe...
1,63,Twelve Monkeys,"In the year 2035, convict James Cole reluctant..."
2,880,Antonia's Line,"After World War II, Antonia and her daughter, ..."
3,1642,The Net,Angela Bennett is a freelance software enginee...
4,241,Natural Born Killers,Two victims of traumatized childhoods become l...
...,...,...,...
2817,6105,Dead Man's Folly,"During a murder hunt game at a country house, ..."
2818,1631,A Real Young Girl,"Bored and restless, Alice spends much of her t..."
2819,74154,Nuvvostanante Nenoddantana,Siri and Sriram fall in love with each other a...
2820,86190,Adventures of a Taxi Driver,Joe North is a London taxi driver who manages ...
2821,2154,The Dark Side of the Moon,It is the year 2022. A mysterious systems fail...

In [9]:
movies = tf.data.Dataset.from_tensor_slices(dict(movies_df))

In [10]:
# ratings_df = pd.read_json('moviesDB.ratings.json')

In [11]:
# ratings_df.drop(columns=['_id'], inplace=True)

In [12]:
ratings_df.drop(columns=['timestamp'], inplace=True)

In [13]:
ratings_df

       user_id  movie_id  rating
0            2       110     4.0
1            2       273     4.0
2            2       349     4.0
3            1      2193     2.0
4            2       377     3.0
...        ...       ...     ...
44903      672       710     4.5
44904      672        63     5.0
44905      672       550     3.5
44906      672        78     4.5
44907      672       155     4.0

[44908 rows x 3 columns]

In [14]:
ratings = tf.data.Dataset.from_tensor_slices(dict(ratings_df))

In [15]:
# Select the basic features.
ratings = ratings.map(lambda x: {
    "movie_id": x["movie_id"],
    "user_id": x["user_id"],
    "rating": x["rating"]
})
movies = movies.map(lambda x: x["movie_id"])

In [16]:
# class Model(tfrs.Model):

#     def __init__(self):
#         super().__init__()

#         # Set up user representation.
#         self.user_model = tf.keras.layers.Embedding(
#             input_dim=2000, output_dim=128)
#         # Set up movie representation.
#         self.item_model = tf.keras.layers.Embedding(
#             input_dim=200000, output_dim=128)
#         # Set up a retrieval task and evaluation metrics over the
#         # entire dataset of candidates.
#         self.task = tfrs.tasks.Retrieval(
#             metrics=tfrs.metrics.FactorizedTopK(
#                 candidates=movies.batch(128).map(self.item_model)),
#         )

#     def compute_loss(self, features: Dict[Text, tf.Tensor], training=False) -> tf.Tensor:

#         user_embeddings = self.user_model(features["user_id"])
#         movie_embeddings = self.item_model(features["movie_id"])

#         return self.task(user_embeddings, movie_embeddings)

class Model(tfrs.Model):

    def __init__(self):
        super().__init__()

        # Set up user representation.
        self.user_model = tf.keras.layers.Embedding(
            input_dim=2000, output_dim=128)
        # Set up movie representation.
        self.item_model = tf.keras.layers.Embedding(
            input_dim=200000, output_dim=128)
        # Set up a retrieval task and evaluation metrics over the
        # entire dataset of candidates.
        self.task = tfrs.tasks.Retrieval(
            metrics=tfrs.metrics.FactorizedTopK(
                candidates=movies.batch(128).map(self.item_model)),
        )

    def compute_loss(self, features: Dict[Text, tf.Tensor], training=False) -> tf.Tensor:

        user_embeddings = self.user_model(features["user_id"])
        movie_embeddings = self.item_model(features["movie_id"])
        
        predicted_ratings = tf.reduce_sum(user_embeddings * movie_embeddings, axis=1)
        actual_ratings = features["rating"]  # Assuming you have a "rating" feature in your dataset
        mse_loss = tf.keras.losses.mean_squared_error(actual_ratings, predicted_ratings)
        rmse_loss = tf.sqrt(mse_loss)
        print(rmse_loss)
        return self.task(user_embeddings, movie_embeddings)

In [17]:
ratings_length = len(ratings_df)
ratings_length

44908

In [18]:
model = Model()
model.compile(optimizer=tf.keras.optimizers.Adagrad(0.5))

# Randomly shuffle data and split between train and test.
import math
train_length = math.floor(ratings_length * 0.8)
test_length = ratings_length - train_length
tf.random.set_seed(42)
shuffled = ratings.shuffle(ratings_length, seed=42, reshuffle_each_iteration=False)

train = shuffled.take(train_length)
test = shuffled.skip(train_length).take(test_length)

# Train.
model.fit(train.batch(4096), epochs=5)

# Evaluate.
model.evaluate(test.batch(4096), return_dict=True)

Epoch 1/5
Tensor("Sqrt:0", shape=(), dtype=float32)
Tensor("Sqrt:0", shape=(), dtype=float32)
9/9 [==============================] - 4s 307ms/step - factorized_top_k/top_1_categorical_accuracy: 2.7835e-05 - factorized_top_k/top_5_categorical_accuracy: 0.0011 - factorized_top_k/top_10_categorical_accuracy: 0.0027 - factorized_top_k/top_50_categorical_accuracy: 0.0190 - factorized_top_k/top_100_categorical_accuracy: 0.0410 - loss: 39682.0055 - regularization_loss: 0.0000e+00 - total_loss: 39682.0055
Epoch 2/5
9/9 [==============================] - 3s 306ms/step - factorized_top_k/top_1_categorical_accuracy: 1.1134e-04 - factorized_top_k/top_5_categorical_accuracy: 0.0044 - factorized_top_k/top_10_categorical_accuracy: 0.0117 - factorized_top_k/top_50_categorical_accuracy: 0.0803 - factorized_top_k/top_100_categorical_accuracy: 0.1472 - loss: 32852.5223 - regularization_loss: 0.0000e+00 - total_loss: 32852.5223
Epoch 3/5
9/9 [==============================] - 3s 301ms/step - factorized_top_k/top_1_categorical_accuracy: 0.0026 - factorized_top_k/top_5_categorical_accuracy: 0.0157 - factorized_top_k/top_10_categorical_accuracy: 0.0386 - factorized_top_k/top_50_categorical_accuracy: 0.2082 - factorized_top_k/top_100_categorical_accuracy: 0.3379 - loss: 29762.7566 - regularization_loss: 0.0000e+00 - total_loss: 29762.7566
Epoch 4/5
9/9 [==============================] - 3s 307ms/step - factorized_top_k/top_1_categorical_accuracy: 0.0038 - factorized_top_k/top_5_categorical_accuracy: 0.0219 - factorized_top_k/top_10_categorical_accuracy: 0.0571 - factorized_top_k/top_50_categorical_accuracy: 0.2993 - factorized_top_k/top_100_categorical_accuracy: 0.4586 - loss: 28786.5086 - regularization_loss: 0.0000e+00 - total_loss: 28786.5086
Epoch 5/5
9/9 [==============================] - 3s 298ms/step - factorized_top_k/top_1_categorical_accuracy: 0.0027 - factorized_top_k/top_5_categorical_accuracy: 0.0214 - factorized_top_k/top_10_categorical_accuracy: 0.0630 - factorized_top_k/top_50_categorical_accuracy: 0.3509 - factorized_top_k/top_100_categorical_accuracy: 0.5260 - loss: 28227.2930 - regularization_loss: 0.0000e+00 - total_loss: 28227.2930
Tensor("Sqrt:0", shape=(), dtype=float32)
3/3 [==============================] - 1s 196ms/step - factorized_top_k/top_1_categorical_accuracy: 0.0000e+00 - factorized_top_k/top_5_categorical_accuracy: 1.1133e-04 - factorized_top_k/top_10_categorical_accuracy: 6.6800e-04 - factorized_top_k/top_50_categorical_accuracy: 0.0428 - factorized_top_k/top_100_categorical_accuracy: 0.1197 - loss: 21102.2346 - regularization_loss: 0.0000e+00 - total_loss: 21102.2346

{'factorized_top_k/top_1_categorical_accuracy': 0.0,
 'factorized_top_k/top_5_categorical_accuracy': 0.00011133377847727388,
 'factorized_top_k/top_10_categorical_accuracy': 0.0006680026999674737,
 'factorized_top_k/top_50_categorical_accuracy': 0.04275217279791832,
 'factorized_top_k/top_100_categorical_accuracy': 0.11968380957841873,
 'loss': 5706.67626953125,
 'regularization_loss': 0,
 'total_loss': 5706.67626953125}

In [19]:
# Use brute-force search to set up retrieval using the trained representations.
index = tfrs.layers.factorized_top_k.Streaming(query_model=model.user_model,
                                               k=100)
index.index_from_dataset(
    movies.batch(1000).map(lambda title: (title, model.item_model(title))))

# Get some recommendations.
_, titles = index(np.array([672]))

print(f"Top 10 recommendations for user 672: {titles[0, :]}")

Top 10 recommendations for user 672: [   681    710     63    956    671    673   1408    229     78   3043
    869     11    705  25763  27904    663   3580    839    253   2252
     81    568  88812   1858  64116    929    296   1642    946    661
   1966    640    900    157  34528   1554    761  47518    779  50162
    470   8880  84601   1363   2261   1936  25874  27376     18    523
    116   1405   1809     58    888    766   2612    348    606    879
    842  33558   1629     12    100   2462   4612   1863   2654     85
     69    331   1922     86   1590    802    609   1938  49961    309
   1940   2363   2290    239    507  49526    703    746 120637   8491
  26838  80346  26147     99   5521   8859  30867  58365   5061    690]

In [20]:
def get_rated_movies_from_user(user_id):
    movie_id_for_user = ratings_df.loc[ratings_df['user_id'] == user_id, 'movie_id'].tolist()
    return movie_id_for_user

In [21]:
get_rated_movies_from_user(672)

[671, 673, 253, 956, 11, 681, 296, 1408, 710, 63, 550, 78, 155]

In [22]:
def recommend_for_user(user_id):
    _, titles = index(np.array([user_id]))
    recommend_list = titles.numpy().tolist()[0]
    rated_movies = get_rated_movies_from_user(user_id)
    for rated_movie in rated_movies:
        if rated_movie in recommend_list:
            recommend_list.remove(rated_movie)
    return recommend_list[:30]

In [23]:
recommend_for_user(672)

[229,
 3043,
 869,
 705,
 25763,
 27904,
 663,
 3580,
 839,
 2252,
 81,
 568,
 88812,
 1858,
 64116,
 929,
 1642,
 946,
 661,
 1966,
 640,
 900,
 157,
 34528,
 1554,
 761,
 47518,
 779,
 50162,
 470]